<ion-content>
  <div class="header">
    <ion-grid>
      <ion-row class="ion-text-left ion-align-items-center">
        <ion-col size="2">
          <img src="assets/img/logo.png" alt="">
        </ion-col>


        <ion-col size="10">
          <ion-row class="titulo">
            <ion-col size="4"><span>Series</span></ion-col>

            <ion-col size="4">Filmes</ion-col>

            <ion-col size="4">Minha Lista</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="main-poster">
    <div class="gradient top"></div>

    <div class="gradient bottom">
      <div class="title">
        <img src="assets/img/stringThings.png" alt="">
      </div>
    </div>
  </div>

  <ion-grid class="actions">
    <ion-row>
      <ion-col size="4">
        <ion-button color="dark" expand="block" fill="clear">
          <div class="mn">
            <ion-icon name="add-outline"></ion-icon>
            <ion-label>Minha </ion-label>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button color="dark" expand="block">
          <ion-icon slot="start" name="play"></ion-icon>
          <div class="titulePlay">Assistir</div>
        </ion-button>
      </ion-col>


      <ion-col size="4">
        <ion-button color="dark" expand="block" fill="clear">
          <div>
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Saiba </ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="content ion-padding">
    <div class="title ion-margin-vertical">
      <span>Prévias</span>
    </div>

    <ion-slides class="stories" [options]="slidesOptions">
      <ion-slide>
        <ion-img  src="assets/img/cobra.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/supernatural.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/witcher.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/lupin.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/eli.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/dead.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/felicidade.jpeg"></ion-img>
      </ion-slide>
    </ion-slides>

    <div class="title ion-margin-vertical">
      <span>Minha Lista</span>
    </div>

    <ion-slides class="lists">
      <ion-slide>
        <ion-img src="assets/img/filmes/alto.webp"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/filmes/boruto.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/filmes/cruella.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/filmes/luffy.png"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/filmes/naruto.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/filmes/wednesday.jpg"></ion-img>
      </ion-slide>
    </ion-slides>


    <div class="title ion-margin-vertical">
      <span>Continuar assistindo</span>
    </div>

    <ion-slides class="stories">
      <ion-slide>
        <ion-img src="assets/img/filmes/wednesday.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/supernatural.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/filmes/boruto.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/dead.jpg"></ion-img>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
