<ion-content>
  <div class="header">
    <ion-grid>
      <ion-row class="ion-text-left ion-align-items-center">
        <ion-col size="2">
          <img src="assets/img/logo.png" alt="">
        </ion-col>


        <ion-col size="10">
          <ion-row class="titulo">
            <ion-col size="4"><span>Series</span></ion-col>

            <ion-col size="4">Filmes</ion-col>

            <ion-col size="4">Minha Lista</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="main-poster">
    <div class="gradient top"></div>

    <div class="gradient bottom">
      <div class="title">
        <img src="assets/img/stringThings.png" alt="">
      </div>
    </div>
  </div>

  <ion-grid class="actions">
    <ion-row>
      <ion-col size="4">
        <ion-button color="dark" expand="block" fill="clear">
          <div class="mn">
            <ion-icon name="add-outline"></ion-icon>
            <ion-label>Minha </ion-label>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button color="dark" expand="block">
          <ion-icon slot="start" name="play"></ion-icon>
          <div class="titulePlay">Assistir</div>
        </ion-button>
      </ion-col>


      <ion-col size="4">
        <ion-button color="dark" expand="block" fill="clear">
          <div>
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Saiba </ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="content ion-padding">
    
  </div>
</ion-content>
